body {
    background-color: lightgoldenrodyellow;
    /* border: 1px solid lightgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

div {
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    margin: 10px;
    width: 80%;
    /* border: 1px solid lightsalmon */
}

.left {
    width: 30%;
    align-self: flex-start;
}

.right {
    width: 70%
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid slateblue; */
    width: 100%;
}

#name {
    margin: 10px 0px;
    padding: 0px 10px;
/* background-color: aliceblue; */
/* border: 1px solid salmon; */
}

#name h1 {
    font-size: 50px;
    /* font-style: italic; */
    font-weight: 900;
color: steelblue;
text-align: center;
}

#blurb {
    text-align: center;
    font-size: 20px;
}

.header {
    font-size: 28px;
    margin: 10px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-color: steelblue;
    font-weight: bold;
    /* border:÷ß 1px solid salmon; */
}

.contact-item {
    /* border: 1px solid salmon; */
    width: 25%;
}

.skills-grid {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid powderblue; */
}

.skills-item {
    margin: 5px;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    /* border: 1px solid pink; */
}

/* .skills-img {
    width: 80%;
    height: 100%;
} */

.portfolio-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid pink; */
}

.portfolio-item {
    width: 45%;
    margin-top: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    /* border: 1px solid orange; */
}

.screenshot {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenshot img {
    width: 90%;
}

.title {
font-size: 20px;
font-weight: bolder;    
}

.links {
    width: 70%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.summary {
    height: 190px;
}

.techstack p {
    font-size: 20px;
    font-weight: bolder;
}
.techstack span {
    margin: 0px 3px;
}

.contact-grid {
    width: 60%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid springgreen; */
}



